* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-image: linear-gradient(90deg, #614385, #516395);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 40rem;
  height: min-content;
  border-radius: 1.2rem;
  background-color: #fff;
  padding: 2.8rem;
}

.search-box form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box input {
  width: 84%;
  font-size: 2rem;
  color: #000;
  text-transform: capitalize;
  border: none;
  outline: none;
}
.search-box button {
  width: 4.6rem;
  height: 4.6rem;
  border: none;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2rem;
}

.search-box button:hover {
  color: #fff;
  background-color: #ababab;
}

.weather-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.weather-img {
  width: 60%;
}

.weather-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.weather-info .temperature {
  font-size: 4rem;
  font-weight: bold;
  padding-top: 3rem;
}
.weather-info .temp-disp {
  font-size: 2rem;
}

.weather-extra {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin-top: 3rem;
}

.humadity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.weather-extra i {
  font-size: 2rem;
}
.weather-extra span {
  font-size: 1.6rem;
  font-weight: bold;
}
.weather-extra p {
  font-size: 1.6rem;
}

.wind {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
